.container-cast-main{
    max-width:100%;
}

.list-title-cast{
    font-weight:bold;
    font-size:1.2rem;
    text-align:none;
    margin-top:-20px;
}

.cast-list-container{
    display:flex;
    gap:1rem;
    flex:1;
    overflow-x:auto;
    margin-bottom:-20px;
}

.cast-list-container::-webkit-scrollbar {
    height: 6px;  
}

.cast-list-container::-webkit-scrollbar-thumb {
    background: #888;    
    border-radius: 3px;  
    
}

.cast-list-container::-webkit-scrollbar-track {
    background: transparent; 
}

.cast-member-container{
    padding:10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.cast-image {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
}

.cast-member-fullname{
    font-weight:bold;
    margin-top:9px;
    font-size:0.7rem;
}

.cast-member-characters{
    color:rgb(139, 135, 135);
    font-size:0.7rem;
}

