.list-title{
    font-weight:bold;
    font-size:1.5rem;
    margin-top:30px;
    text-align:center;
}

.director-list-container{
    display:flex;
    gap:1rem;
    overflow-x: auto;
    padding-left:20px;
    padding-right:20px;
}

.director-container{
    padding:10px;
    text-align: center;
}

.director-image {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    margin:0 auto;
}

.director-fullname{
    font-weight:bold;
    margin-top:9px;
}



