.genres-container{
    display:flex;
    gap:1rem;
    flex-wrap:wrap;
    margin-left:auto;
    max-width:50%;
    margin-left:1rem;
}

.genre-tag{
    border: solid white 1px;
    border-radius:30px;
    font-weight: bold;
    padding-top:3px;
    padding-bottom:3px;
    padding-left:20px;
    padding-right:20px;
}