.navbar {
  background-color: #1f1e1e;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.navbar-links {
  display: flex;
  gap: 2rem;
}

.nav-link {
  font-size: 1rem;
  padding:1rem;
  border-radius: 4px;
  transition: background-color 0.2s;
}

.home-button{
  padding-bottom:0.5rem;
  margin-top:5px;
}

.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
}


.nav-icon{
  width:30px;
  margin-top:-5px;

}

.navbar-icon-div{
  display:flex;
  align-items:center;
  gap:1rem;
}

@media (max-width: 900px) {
  .names-to-links {
    display: none;
  }

  .navbar-links{
    gap:0.01rem;
  }
}

@media (max-width: 470px) {
    .navbar{
      justify-content:center;
      gap:0;
      flex-wrap:wrap;
    }
}

