.rating-poster{
    width:200px;
    border-radius:8px;
    cursor:pointer;
}

.top{
    display:flex;
}

.rating-star-div{
    margin-top:40px;
}

.movie-title{
    cursor:pointer;
    font-weight: bold;
}

.movie-title:hover{
    color:rgba(255,255,255,0.7)
}