.search-form {
  display: flex;
  justify-content:center;
  gap: 1rem;
  padding: 0 1rem;
  box-sizing: border-box;
  position: relative;
  z-index: 1001;
}

.search-input {
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 4px;
  background-color: #333;
  color: white;
  font-size: 1rem;
  width:40vw;
}

.search-input:focus {
  outline: none;
  box-shadow: 0 0 0 2px #666;
}

.search-button {
  background-color: #e50914;
  color: white;
  border-radius: 4px;
  transition: background-color 0.2s;
  white-space: nowrap;
  align-self:center;
}

.search-button-img{
  width:20px;
  height:20px;
}

.search-button:hover {
  background-color: #f40612;
}

.search-container {
  position: relative;
  margin: 0 0;
}

.search-dropdown {
  position: absolute;
  top: 100%;
  left: 15px;
  right: 15px;
  background: #333;
  border: 1px solid #555;
  border-radius: 4px;
  max-height: 300px;
  overflow-y: auto;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  margin-top:10px;
}

.dropdown-item {
  display: flex;
  align-items: center;
  padding: 0.75rem;
  cursor: pointer;
  border-bottom: 1px solid #555;
  transition: background-color 0.2s;
}

.dropdown-item:hover {
  background-color: #444;
}

.dropdown-poster {
  width: 40px;
  object-fit: cover;
  border-radius: 3px;
  margin-right: 0.75rem;
}

.dropdown-info h4 {
  margin: 0;
  font-size: 0.9rem;
  color: white;
}

.dropdown-info p {
  margin: 0;
  font-size: 0.8rem;
  color: #ccc;
}

.dropdown-loading,
.dropdown-no-results {
  padding: 1rem;
  text-align: center;
  color: #ccc;
  font-style: italic;
}

@media (max-width: 600px) {
  .search-input{
    width:30vw;
  }
}
