.trending {
  width: 100%;
  box-sizing: border-box;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  flex-wrap:wrap;
}

.movies-grid {
  display: grid;
  justify-items: center;
  justify-content:center;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1.5rem;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
}

.movies-grid {
  display: grid;
  justify-items: center;
  justify-content:center;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1.5rem;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
}

@media (max-width: 318px) {
  .movies-grid {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  }
}